html {
     border-sizing: border-box;
}
 *, *:after, *:before {
     border-sizing: inherit;
}
 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: auto;
     margin-top: 10px;
     max-width: 720px;
}
 .workBox {
     background-color: #5a5a5a;
     display: flex;
     justify-content: center;
}
 .main-form {
     margin: 10px;
     margin-left: 30px;
     position: relative;
     width: 290px;
}
 input, button {
     border-radius: 3px;
     outline: none;
}
 input {
     background: #ffffff;
     border: green;
     color: #5c5c5c;
     height: 42px;
     padding-left: 15px;
     width: 100%;
}
 button {
     background: #ababab;
     cursor: pointer;
     height: 27px;
     width: 27px;
}
 .addCity {
     position: absolute;
     right: -7px;
     top: 8px;
}
 .addCity:before {
     font-size: 20px;
     font-weight: bold;
}
 .showAll {
     height: 28px;
     margin: 18px;
     width: 28px;
}
 .results-bg {
     background-color: #eaeaea;
     display: flex;
     justify-content: center;
     padding-bottom: 10px;
}
 .results {
     align-self: stretch;
     background-color: #eaeaea;
     display: flex;
     flex-basis: 100%;
     flex-direction: column-reverse;
     margin-right: 19px;
     margin-top: 5px;
     max-width: 280px;
}
 .resItems {
     align-items: center;
     align-self: stretch;
     border-bottom: 1px #5a5a5a dashed;
     display: flex;
     flex-basis: 80%;
     justify-content: space-between;
     margin-top: 5px;
     padding-bottom: 5px;
}
 .hiden-form {
     margin: 5px;
}
